---
import CategoriasNails from "../lib/Data/Categorias.json"
import Categoria from './Categoria.astro';

  const RutasNails = CategoriasNails.map((Nail) => Nail.Ruta);
---
	<section>
		<h2 class="text-5xl text-pink-400 font-bold  flex justify-center items-center mt-4">CATEGORIAS</h2>

<div class="grid grid-cols-2 gap-2 p-4 ">
  {
    CategoriasNails.map((cat) => (
      <Categoria 
        categoria={cat.Categoria} 
        descripcion={cat.Descripcion} 
        precio={""} 
        URLimagen={cat.imagenPortada} 
        link={cat.Ruta}
      />
    ))
  }
</div>
    </section>