
<div class="bg-pink-500  h-80 p-4 flex flex-col ">
  <h1 class="text-7xl text-white font-bold">KEYSSEN</h1>
  <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing,
     voluptatum!</p>
     <a  href="https://wa.me/96791567? "
    target="_blank" rel="noopener noreferrer"
     
     >
    <button class="bg-white text-pink-500 rounded-full w-42 h-12 mt-10 text-2xl">Contactame</button>
</a>
</div>
