---
import FacebookIcono from './Iconos/FacebookIcono.astro';
import InstagranIcono from './Iconos/InstagranIcono.astro';
import TiktokIncono from './Iconos/TiktokIncono.astro';
---


<section>
    <h2 class="text-4xl text-pink-400 font-bold  flex justify-center items-center mt-4">REDES SOCIALES</h2>
    <div class="flex justify-between gap-4 px-10 mt-10 pb-25 ">
        <a class=" flex text-4xl font-bold text-gray-700" href=""><FacebookIcono/> </a>
        <a class="flex text-4xl font-bold text-gray-700"  href=""><InstagranIcono/> </a>
        <a class="flex text-4xl font-bold text-gray-700"  href=""><TiktokIncono/></a>
    </div>
   

</section>