<section>
  <h2
    class="text-4xl text-pink-400 font-bold flex justify-center items-center mt-4"
  >
    UBICACION
  </h2>
  <div class="p-5">

  
  <p class="text-2xl text-gray-600 font-black ">Santa Rosa del Norte</p>
  <p class="text-2xl text-gray-600 font-black ">Barrio Anash</p>
  <p class=" text-2xl text-gray-600  ">una cuadra al este de Centro de salud</p>
  </div>
  <div
    class="flex justify-center items-center w-full h-full  p-5"
  >
    <div
      class="flex justify-center items-center bg-white shadow-lg rounded-2xl overflow-hidden"
    >

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d240.17311071805818!2d-87.66421114366575!3d15.603944914655486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2shn!4v1758159322357!5m2!1ses-419!2shn"
        width="350"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
