---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Categorias from './Categorias.astro';
import Hiro from './Hiro.astro';
---

<div class="" id="container">
	<Hiro/>
	<Categorias/>


</div>

